# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive vars
terraform.tfvars

# draw.io diagrams
*.drawio

# macOS
.DS_Store
